html, body {
    height: 100%;
    background: url("../Images/abstract-background-copyspace-brainstorm.jpg");
    background-size: cover;
}
.container-fluid {
    height: 100%;
}
.row {
    height: 100%;
    width: 100%;
}

.mtop {
    margin-top: 25%;
}
.btn {
    width: 35%;
}